<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About</strong></h1>
        <p class="text-secondary">A page of the team members</p>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">AJ</h5>
                        <p class="card-text">
                            <al>
                                Frontend Dev
                            </al>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Paaras</h5>
                        <p class="card-text">
                            <al>
                                DevOps
                            </al>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Haoxuan</h5>
                        <p class="card-text">
                            <al>
                                Backend Developer
                            </al>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Samarth</h5>
                        <p class="card-text">
                            <al>
                                Scrum Master
                            </al>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
