<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "About" %}

{% block body %}   
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About</strong></h1>
        <p class="text-secondary">A page of the team members</p>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">AJ</h5>
                        <p class="card-text">
                            <al>
                                <li>I am the frontend developer, I made this page.</li>
                                <li>I started coding with this class</li>
                                <li>I play a lot of games, my favorite being BO3 Zombies and Terraria</li>
                                <li>I know where you live</li>
                                <li>Best Frontend of all time.</li>
                                <li>Longest most scruptous hair of all time.</li>
                            </al>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">Paris</h5>
                        <p class="card-text">
                            <al>
                                <li>Loves tea drinking.</li>
                                <li>Got a dumptruck.</li>
                            </al>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">Haoxuan</h5>
                        <p class="card-text">
                            <al>
                                <li>I'm the Backend of this project.</li>
                                <li>I made what goes on behind the page.</li>
                                <li>I started coding 4 years ago.</li>
                                <li>You will die in 48 hours.</li>
                            </al>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="375">
                        <h5 class="card-title">Samarth</h5>
                        <p class="card-text">
                            <al>
                                <li>So very beautiful and hot.</li>
                                <li>Does many things and is so amazing.</li>
                            </al>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block background %}
{% endblock %}
