{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Inspirivational by Udderly Delectable</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/mop.webp') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who Are We?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our project is about promoting good health and induce good emotions to our consumers.</li>
                            <li>These quotes are from authors like </li>
                            <li>Click below to access the table to these quotes.</li>
                        </ol>
                    </p>
                    <a href="/about" class="btn btn-primary">About us</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ofsno.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What We Do</h5>
                    <p class="card-text">
                        <al>
                            <li>Our project is also about inspiring people by giving them inspiratiional quotes.</li>
                            <li>These quotes are from authors like </li>
                            <li>Click below to access the table to these quotes.</li>
                        </al>
                    </p>
                    <a href="/app" class="btn btn-primary">See quotes</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/kfc.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What You Can Do</h5>
                    <p class="card-text">
                        <dl>
                            <dt>If you're ever feeling down, sad, or simply unmotivated to do something productive, open up Inspirivational.</li>
                            <dd>We have several quotes for each aspect of unmotivated behavior and personality</li>
                            <dd>Click below to access the quotes</li>
                        </dl>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}